@import '../../../css/common.scss';

.Wrap {
    display: flex;
    align-items: center;
    cursor: pointer;

    &.Checked {
        .Icon {
            &::before {
                opacity: 1;
            }
        }
    }
}

.Icon {
    width: 24px;
    height: 24px;
    background: #ffffff;
    border: 1px solid rgba(54, 56, 70, 0.2);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        width: 20px;
        height: 20px;
        background-color: rgba(54, 56, 70, 0.2);
        transition: $transition;
        opacity: 0;
    }
}

.Title {

}

@media only screen and (min-width: $desktopWide) {
}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {
}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {
}

@media only screen and (max-width: $mobile) {
}
